Django
python-dotenv
djangorestframework
drf-yasg
psycopg2-binary
django-debug-toolbar
django-allauth
django-rest-auth
django-filter
gunicorn
whitenoise
sendgrid
Pillow
mysql-connector-python
# mysqlclient
certifi
